mediapipe 0.8.1
OpenCV 3.4.2 or Later
Tensorflow 2.3.0 or Later
tf-nightly 2.5.0.dev or later (Only when creating a TFLite for an LSTM model)
scikit-learn 0.23.2 or Later (Only if you want to display the confusion matrix)
matplotlib 3.3.2 or Later (Only if you want to display the confusion matrix)

Python Version Installer
https://www.python.org/ftp/python/3.10.9/python-3.10.9-amd64.exe

pip install mediapipe
pip install opencv-python
pip install tensorflow
pip install tf-nightly
pip install scikit-learn
pip install matplotlib
pip install numpy
pip install collections
